@CHARSET "UTF-8";

h1 {
	text-align: center;
}

.b {
	width: 300px;
	height: 100px;
	font-size: 48px;
	font-style: italic; background-color : rgba( 255, 0, 0, 0.2);
	font-family: 仿宋, Georgia, Palatino, serif;
	text-transform:uppercase;
	text-decoration:line-through;
	background-color: rgba(255, 0, 0, 0.2);
}

[title="db"] {
	width: 200px;
	height: 200px;
	background-color: rgba(0, 255, 0, 0.2);
	background-image: url("../img/2.bmp");
	background-repeat: no-repeat;
	background-position: bottom;
}